<nav class="navbar navbar-dark bg-dark navbar-expand-lg mb-4">
  <a class="navbar-brand brand" id="brand" routerLink="/bookshelf">BookIt</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarToggler"
    aria-controls="navbarToggler"
    aria-expanded="false"
    (click)="collapsed = !collapsed"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div
    class="collapse navbar-collapse"
    id="navbarToggler"
    [class.collapse]="collapsed"
    (window:resize)="collapsed = true"
  >
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">

      <li class="nav-item" *ngIf="isAuthenticated">
        <a class="nav-link" routerLink="/bookshelf" routerLinkActive="active"
          >Bookshelf</a
        >
      </li>
      <li class="nav-item" *ngIf="!isAuthenticated">
        <a class="nav-link" routerLink="/auth" routerLinkActive="active"
          >Authenticate</a
        >
      </li>
      <li class="nav-item" *ngIf="isAuthenticated" (click)="onLogout()">
        <a class="nav-link" style="cursor:pointer" routerLinkActive="active"
          >Log out</a
        >
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/library" routerLinkActive="active"
          >Library</a
        >
      </li>
    </ul>
    <ul class="navbar-nav" *ngIf="isAuthenticated">
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle"
          style="cursor: pointer"
          id="navbarDropdownMenuLink"
          data-toggle="dropdown"
          aria-haspopup="true"
          [attr.aria-expanded]="show"
          (click)="show = !show"
          [class.show]="show"
        >
          Settings
        </a>
        <div
          class="dropdown-menu"
          aria-labelledby="navbarDropdownMenuLink"
          [class.show]="show"
        >
          <a class="dropdown-item" (click)="onSaveData()" style="cursor:pointer;">Save Data</a>
          <a class="dropdown-item" (click)="onFetchData()" style="cursor:pointer;">Fetch Data</a>
        </div>
      </li>
    </ul>
  </div>
</nav>
