<div class="row">
  <div class="col-md-12">
    <h2>{{ book.title }}</h2>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h3>{{ book.author }}</h3>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <p>{{ book.genre }}</p>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <img
      [src]="book.coverImagePath"
      [alt]="book.title"
      class="img-responsive"
    />
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <small>Tags</small>
  </div>
</div>

<hr />

<div class="row">
  <div class="col-md-12">
    <div class="dropdown" appDropdown #r="appDropdown">
      <button type="button" class="btn btn-primary dropdown-toggle">
        Edit Book<span class="caret"></span>
      </button>
      <ul class="dropdown-menu px-2" [ngClass]="{ show: r.isOpen }">
        <a
          class="dropwdown-item mr-1"
          style="cursor: pointer"
          (click)="onEditBook()"
          >Edit Book</a
        >
        |
        <a class="dropwdown-item ml-1" style="cursor: pointer">Delete Book</a>
      </ul>
    </div>
  </div>
</div>
